<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Manulife Life Contact Us</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

          <!-- CSS DECLARATION -->
        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="../vendor/css/normalize.css">
        <link href="../vendor/css/fonts.css" rel="stylesheet">
        <link rel="stylesheet" href="../vendor/css/jquery.mmenu.all.css" />
        <!-- Add the slick-theme.css if you want default styling -->
        <link rel="stylesheet" type="text/css" href="../vendor/css/slick.css"/>
        <!-- Add the slick-theme.css if you want default styling -->
        <link rel="stylesheet" type="text/css" href="../vendor/css/slick-theme.css"/>
        <link type="text/css" href="../css/vendor/hamburger.css">
        <link rel="stylesheet" href="../css/main.css">


<style>
      body { font-family: sans-serif; }
      #map-canvas, #panel { height: 500px; }
      #panel { width: 300px; float: left; margin-right: 10px; }
      #panel .feature-filter label { width: 130px; }
      p.attribution, p.attribution a { color: #666; }
    </style>



    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->




        <!-- *** Start of app-container ** -->
        <div class="app-container">
            <!-- First Grid Block -->
             <!-- Nav Block Menu -->

            <nav id="menu">

                    <!-- top navigation contents -->
                             <!-- logo -->

                        <a href="#" class="left-adjust"><img src="../img/logo.svg" class="manulife-logo"></a>
                        <label class="manu-life-text"><a href="#menu">Manulife</a></label>

<!--
                        <span class="divider-login">
                            <a href="#" class="mobile-login">
                                <img src="../img/menu/icon_white/Login.svg" alt="login">Login
                            </a>
                        </span>
-->

                        <span class="divider-close">
                        <a class="special-close mm-btn mm-btn_close mm-navbar__btn" href="#menu" aria-owns="mm-0">
                        <span class="mm-sronly">Close menu</span></a>
                        </span>


                    <!-- end of top navigation contents -->

                    <div id="panel-menu" class="listLinks">
                        <ul class="listview-icons listview">
                            <!-- separating this login for device purpose on the design -->
                            <!-- <li class="login">
                                    <a href="#">
                                        <img src="../img/menu/icon_white/navi-icon-log.svg" class="login" alt="Login">
                                        Login
                                    </a>
                            </li> -->

                            <!-- separating this login for device purpose on the design -->


                            <!-- li that has subcategory -->

                            <li class="listitem">
                                <a href="#">
                                    <img src="../img/menu/icon_white/navi-icon-log.svg" alt="Login" class="menu-icon">
                                    Login
                                </a>


                                       <!-- <ul>
                                       <li><a href="#/">Am I to old to ride ?</a></li>
                                       <li class="listitem"><span>Am I to old to ridez ?</span>
                                          <ul>
                                               <li><a href="#/">Am I to old to ride ?</a></li>
                                               <li><a href="#/">Am I to old to ride ?</a></li>
                                               <li><a href="#/">Am I to old to ride ?</a></li>
                                           </ul>
                                       </li>

                                       <li><a href="#/">Am I to old to ride ?</a></li>
                                       </ul> -->

                            </li>

                                           <li class="listitem">
                                 <a href="#">
                                     <img src="../img/menu/icon_white/navi-icon-pro.svg" alt="Products" class="menu-icon">
                                     Products
                                 </a>

                                         <ul>

                                          <!-- 1st product -->

                                             <li class="label"><label><span>Life</span></label></li>

                                                <li class="listitem"><a href="#"><span>Term Life</span></a></li>
                                                <li class="listitem"><a href="#"><span>Whole Life</span></a></li>



                                           <!-- 2nd product -->
                                             <li class="label"><label><span>Health</span></label></li>

                                             <li class="listitem"><a href="#"><span>Medical and Hospital</span></a></li>
                                             <li class="listitem"><a href="#"><span>Accident</span></a></li>
                                             <li class="listitem"><a href="#"><span>Critical Illness</span></a></li>
                                             <li class="listitem"><a href="#"><span>Permanent Disability</span></a></li>


                                           <!-- 3rd product -->
                                             <li class="label"><label><span>Save</span></label></li>

                                             <li class="listitem"><a href="#"><span>Saving plans</span></a></li>
                                             <li class="listitem"><a href="#"><span>Education</span></a></li>
                                             <li class="listitem"><a href="#"><span>Retirement</span></a></li>

                                              <!-- 4th product -->
                                              <li class="label"><label><a href="#"><span>Invest</span></a></label></li>

                                              <li class="listitem"><a href="#"><span>Investment - Linked plans</span></a></li>




                                        </ul><!-- end of main ul -->
                             </li>



                             <li class="listitem">
                                 <a href="#">
                                     <img src="../img/menu/icon_white/navi-icon-goals.svg" alt="Goals" class="menu-icon">
                                     Goals
                                 </a>
                                        <!-- <ul>
                                        <li><a href="#/">History</a></li>
                                        <li class="listitem"><span>The team</span>
                                           <ul>
                                                <li><a href="#/">Management</a></li>
                                                <li><a href="#/">Sales</a></li>
                                                <li><a href="#/">Development</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#/">Our address</a></li>
                                        </ul> -->

                             </li>

                            <!-- end of li that has subcategory -->



                            <li>
                                <a href="#">
                                    <img src="../img/menu/icon_white/navi-icon-ins.svg" class="menu-icon" alt="Insights">
                                    Insights
                                </a>
                            </li>



                            <li>
                                <a href="#">
                                    <img src="../img/menu/icon_white/navi-icon-pro.svg" class="menu-icon" alt="Promos">
                                    Promos
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="../img/menu/icon_white/navi-icon-ser.svg" class="menu-icon" alt="Services">
                                    Services
                                </a>
                            </li>


                            <li>
                                <a href="#">
                                    <img src="../img/menu/icon_white/navi-icon-abo.svg" class="menu-icon" alt="About Us">
                                    About Us
                                </a>
                            </li>



                               <li>
                                
                                <a href="www.google.com" class="no-aside-content">
                                    <img src="../img/menu/icon_white/navi-icon-con.svg" class="menu-icon" alt="Contact">
                                    Contact
                                </a>
                                
                                 <ul>

                                          <!-- 1st product -->

                                     <li class="contact-block"><h3><i>Hotline:</i><br>1900-1776</h3></li>
                                     <li class="contact-block"><span class="sched">Mon - Fri<br>8:30 am  - 17:30 pm</span></li>
                                     <li class="contact-block">
                                         <span class="extra-content">Our experts are always here  to help you</span>
                                         <a href="#"><button>Be in touch</button></a>
                                     </li>
                                </ul>
                                
                            </li>

                        </ul>


                        <div id="listLinks-bottom"></div>

                    </div>
                </nav>


            <!-- <div class="menu-mobile js-permutation-mobile"></div> -->
            <!-- End of Nav Menu -->

            <!-- End of First Grid Block -->

            <!-- End of Nav Block Menu -->
   <!-- submenu list here-->
                                   <div class="sub-menu-list hide">
                                        <div class="inner-logo-container">
                                               <a href="#">
                                                   <img src="../img/sub-menu-logo.svg">
                                               </a>
                                        </div>

                                        <!-- Primary Link -->
                                        <div class="submenu" id="">
                                        </div> <!-- end of submenu -->
                                   </div> <!-- end of sub menu list -->

            <!-- Second Grid Block -->
            <main class="manulife-contacts">
                <!-- contact us content starts here -->
                
                <div class="contacts-wrapper">
                  <div class="contacts-block">
                    <div class="contact-block-wrapper">
                      <img class="contacts-thumbnail" src="../img/talk-to-copy@3x.png" alt="sample">
                      <div class="contacts-main-info">Our experts are here to <br> help you get started.</div>
                    </div>
                    <div class="contact-block-wrapper">
                      <a href="tel:1900-1776" class="contacts-hotline">
                        <i>Hotline :</i> 1900-1776
                      </a>
                      <div class="contacts-main-info">
                        Service center <br>
                        <b>Mon – Fri, 8:30 am – 17:30pm</b>
                      </div>
                    </div>
                  </div>

                  <div class="contacts-block">
                      <div class="contact-block-wrapper">
                          <div class="contacts-region open-region-panel">Select your region</div>
                          <div class="region-panel-filter">
                            <div class="region-panel-container">
                            <div class="breadcrumb-filter">
                                <span>City</span>
                                <span>Branch</span>
                                <div class="close-x-button"></div>
                            </div>
                            <div class="items">City #</div>
                              <div class="items">City #</div>
                              <div class="items">City #</div>
                              <div class="items">City #</div>
                              <div class="items">City #</div>
                              <div class="items">City #</div>
                              <div class="items">City #</div>
                              <div class="items">City #</div>
                            </div>
                          </div>
                      </div>
                  </div>

                  <div class="contacts-block" id="panel">
<!--
                    <div class="contacts-headquarters">
                      <div class="contacts-service-center"><b>Headquarters</b></div>
                      <div class="contacts-service-address">
                        51 Bras Basah Road #01-02C <br>
                        Singapore 189554 <br>
                        Mon — Fri, 8:30 am — 7:oo pm
                      </div>
                      <div class="contacts-service-number">
                        <div class="phone">
                            <div class="title">Phone Number</div>
                            <a href="tel:(+65) 6833 8188">(+65) 6833 8188</a>
                        </div>
                        <div class="phone">
                            <div class="title">Fax Number</div>
                            <a href="tel:(+65) 6833 8188">(+65) 6833 8188</a>
                        </div>
                      </div>
                    </div>
-->
                      
<!--                       <div id="panel"></div>-->
                      
                  </div>
                </div>

                <div class="contacts-wrapper"> 

                        <!-- MAP STARTS HERE -->
                           
                            <div id="map-canvas"></div>
  


                 </div>

                <div class="contacts-wrapper"> Form </div>


                <!-- end of contact us content ssss -->
            </main> <!--End of main-->


                <!-- Footer Part Starts Here -->

         <footer>
            <div class="footer-container">

                <div class="footer-block">

                    <span class="toggleHide">Manulife's Network</span>
                    <div class="inner-list toggleHide">
                        <a href="#" class="list">Insurance</a>
                        <a href="#" class="list">Retail Investors</a>
                        <a href="#" class="list">Institutions</a>
                    </div>

                </div>
                <div class="footer-block">

                    <span class="toggleHide">Quick Links</span>
                    <div class="inner-list toggleHide">
                        <a href="#" class="list">Home</a>
                        <a href="#" class="list">Products</a>
                        <a href="#" class="list">Join Us</a>
                    </div>

                </div>
                <div class="footer-block">

                    <div class="inner-container">
                        <span>Our Locations</span>
                        <div class="inner-list-country">
                            <img class="country-logo" src="../img/footer/flag-sg.svg" alt="sample">
                            <!-- add Region code -->
                            <a href="#" onclick="hideShowListCountry(event, 'toggleHide', 'Choose-your-country', 'list-region', 'footer-block', 'close-btn');"><span class="country-text">Singapore</span></a>
<!--
                            <select class="selectCountryPicker" id="country" size="1" name="links" data-width="fit">
                              <option value="https://www.manulife.com.sg/" target="_blank" >Singapore</option>
                              <option value="http://www.manulife.com.vn/" target="_blank" >Vietnam</option>
                              <option value="http://www.manulife.ca/" target="_blank" >Canada</option>
                              <option value="https://www.manulife.com.hk/wps/portal" target="_blank" >Hong Kong</option>
                          </select>
-->
                        </div>
                    </div>
                </div>
                <div class="footer-block">
                    <div class="inner-container toggleHide">
                        <span>language</span>
                        <div class="inner-list">
                            <select class="selectLangPicker" data-width="fit">
                              <option data-content='English'>ENG</option>
                              <option  data-content='Japanese'>JAP</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="footer-block toggleHide">
                    <div class="menu-bottom-list">
                        <li><a href="terms.html">Terms of Use</a></li>
                        <li><a href="policy.html">Privacy Policy</a></li>
                    </div>
                </div>
                <div class="footer-block toggleHide">
                    <div class="inner-container">
                        <div class="menu-bottom-social">
                            <ul>
                                <li>
                                  <a class="social_link" href="https://www.facebook.com/manulife.singapore" title="Follow us on Facebook" target="_blank">
                                    <img class="image" src="../img/footer/social_media/facebook.svg" alt="Facebook">
                                    <div class="overlay">
                                        <img src="../img/footer/social_media/hover/facebook.svg">
                                    </div>
                                  </a>
                                </li>
                                <li>
                                  <a class="social_link" href="https://www.youtube.com/user/ManulifeSG1980" title="Follow us on Youtube" target="_blank">
                                    <img class="image" src="../img/footer/social_media/youtube.svg" alt="Youtube">
                                    <div class="overlay">
                                        <img src="../img/footer/social_media/hover/youtube.svg">
                                    </div>
                                  </a>
                                </li>
                                <li>
                                  <a class="social_link" href="#" title="Follow us on Zalo" target="_blank">
                                    <img class="image" src="../img/footer/social_media/zalo.svg" alt="Zalo">
                                    <div class="overlay">
                                        <img src="../img/footer/social_media/hover/zalo.svg">
                                    </div>
                                  </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-block toggleHide">
                    <div class="copyright">
                      ©2018 Manulife (Vietnam) Pte Ltd<br/>
                      License No. 503 / GP-BC issued by Ministry of Culture and Information dated 15/11/2004.<br/>
                      Main office: Manulife Plaza Building, 75 Hoang Van Thai, Tan Phu Ward, Dist. Ho Chi Minh City<br/>
                      Tel: <b>(028) 5416 6888</b> / Fax: (028) 5416 1818 / <span>Hotline: 1900 1776</span>
                    </div>
                </div>
                <div class="footer-block region-area hide">
                    <span class="Choose-your-country text-style-1 hide">
                      <p>
                        <i>Choose</i> your country or region.
                      </p>
                    </span>

                    <a href="#" class="close-btn hide" onclick="hideShowListCountry(event, 'toggleHide', 'Choose-your-country', 'list-region', 'footer-block', 'close-btn');"></a>

                     <div class="inner-container">
                      <ul class="inner-list-country clearfix">
                        <!-- 01 -->
                        <li class="list-country">
                          <a href="home.html">
                            <!-- <img class="country-logo" src="../img/footer/flag-singapore.png" /> -->
                            <img src="../img/footer/logo.svg" class="country-logo" alt="sample">
                            <span class="country-text">Manulife Global</span>
                          </a>
                        </li>
                        <!-- 01 -->
                        <!-- 02 -->
                        <li class="list-country">
                          <a href="home.html">
                            <!-- <img class="country-logo" src="../img/footer/flag-singapore.png" /> -->
                            <img src="../img/footer/flag-kh.svg" class="country-logo" alt="sample">
                            <span class="country-text">Cambodia</span>
                          </a>
                        </li>
                        <!-- 02 -->
                        <!-- 03 -->
                        <li class="list-country">
                          <a href="home.html">
                            <!-- <img class="country-logo" src="../img/footer/flag-canada.png" /> -->
                            <img src="../img/footer/flag-ca.svg" class="country-logo" alt="sample">
                            <span class="country-text">Canada</span>
                          </a>
                        </li>
                        <!-- 03 -->
                        <!-- 04 -->
                        <li class="list-country">
                          <a href="home.html">
                            <!-- <img class="country-logo" src="../img/footer/flag-singapore.png" /> -->
                            <img src="../img/footer/flag-cn.svg" class="country-logo" alt="sample">
                            <span class="country-text">China</span>
                          </a>
                        </li>
                        <!-- 04 -->
                        <!-- 05 -->
                        <li class="list-country">
                          <a href="home.html">
                            <!-- <img class="country-logo" src="../img/footer/flag-hong-kong.png" /> -->
                            <img src="../img/footer/flag-hk.svg" class="country-logo" alt="sample">
                            <span class="country-text">Hong Kong</span>
                          </a>
                        </li>
                        <!-- 05 -->
                        <!-- 06 -->
                        <li class="list-country">
                          <a href="home.html">
                            <!-- <img class="country-logo" src="../img/footer/flag-singapore.png" /> -->
                            <img src="../img/footer/flag-id.svg" class="country-logo" alt="sample">
                            <span class="country-text">Indonesia</span>
                          </a>
                        </li>
                        <!-- 06 -->
                        <!-- 07 -->
                        <li class="list-country">
                          <a href="home.html">
                            <!-- <img class="country-logo" src="../img/footer/flag-singapore.png" /> -->
                            <img src="../img/footer/flag-jp.svg" class="country-logo" alt="sample">
                            <span class="country-text">Japan</span>
                          </a>
                        </li>
                        <!-- 07 -->
                        <!-- 08 -->
                        <li class="list-country">
                          <a href="home.html">
                            <!-- <img class="country-logo" src="../img/footer/flag-singapore.png" /> -->
                            <img src="../img/footer/flag-my.svg" class="country-logo" alt="sample">
                            <span class="country-text">Malaysia</span>
                          </a>
                        </li>
                        <!-- 08 -->
                        <!-- 09 -->
                        <li class="list-country">
                          <a href="home.html">
                            <!-- <img class="country-logo" src="../img/footer/flag-singapore.png" /> -->
                            <img src="../img/footer/flag-ph.svg" class="country-logo" alt="sample">
                            <span class="country-text">Philippines</span>
                          </a>
                        </li>
                        <!-- 09 -->
                        <!-- 10 -->
                        <li class="list-country">
                          <a href="home.html">
                            <!-- <img class="country-logo" src="../img/footer/flag-singapore.png" /> -->
                            <img src="../img/footer/flag-sg.svg" class="country-logo" alt="sample">
                            <span class="country-text">Singapore</span>
                          </a>
                        </li>
                        <!-- 10 -->
                        <!-- 11 -->
                        <li class="list-country">
                          <a href="home.html">
                            <!-- <img class="country-logo" src="../img/footer/flag-singapore.png" /> -->
                            <img src="../img/footer/flag-tw.svg" class="country-logo" alt="sample">
                            <span class="country-text">Taiwan</span>
                          </a>
                        </li>
                        <!-- 11 -->
                        <!-- 12 -->
                        <li class="list-country">
                          <a href="home.html">
                            <!-- <img class="country-logo" src="../img/footer/flag-singapore.png" /> -->
                            <img src="../img/footer/flag-th.svg" class="country-logo" alt="sample">
                            <span class="country-text">Thailand</span>
                          </a>
                        </li>
                        <!-- 12 -->
                        <!-- 12 -->
                        <li class="list-country">
                          <a href="home.html">
                            <!-- <img class="country-logo" src="../img/footer/flag-singapore.png" /> -->
                            <img src="../img/footer/flag-us.svg" class="country-logo" alt="sample">
                            <span class="country-text">United States</span>
                          </a>
                        </li>
                        <!-- 12 -->
                        <!-- 13 -->
                        <li class="list-country">
                          <a href="home.html">
                            <!-- <img class="country-logo" src="../img/footer/flag-vietnam.png" /> -->
                            <img src="../img/footer/flag-vt.svg" class="country-logo" alt="sample">
                            <span class="country-text">Vietnam</span>
                          </a>
                        </li>
                        <!-- 13 -->
                      </ul>
                    </div>
                </div>
            </div>

            <!--end of footer-container" -->

        </footer>

                <!-- End of Footer Part  -->







        </div> <!-- *** End of app-container ** -->





        <script src="https://www.youtube.com/iframe_api"></script>
        <!-- boiler plate js -->
        <script src="../vendor/js/modernizr-3.5.0.min.js"></script>
        <!-- google map api library-->
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
        <!-- jquery js -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="vendor/js/jquery-3.2.1.min.js"><\/script>')</script>
        <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
        <!-- object fit image compatibility js -->
        <script src="../vendor/js/ofi.min.js"></script>
        <!-- boiler plate js -->
        <script src="../vendor/js/plugins.js"></script>
        
        <!-- contact storelocator plugin -->
        <script src="../vendor/js/store-locator.min.js"></script>
        <script src="../vendor/js/infobubble-compiled.js"></script>
        <script src="../js/extend/medicare-static-ds.js"></script>
        <!-- slide reveal vendor js -->
        <script src="../vendor/js/jquery.slidereveal.min.js"></script>
        <!-- jquery mmenu library js -->
        <script src="../vendor/js/jquery.mmenu.all.js"></script>
        <!-- slick library for homepagelist -->
        <script src="../vendor/js/slick-carousel.js"></script>
        <!-- ProgressBar.js -->
        <script src="../vendor/js/progress-bar.js"></script>
<!--        <script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js"></script>-->
        <!-- customize js -->
        <script src="../js/main.js"></script>
<script>
  /**
   * forEach implementation for Objects/NodeLists/Arrays, automatic type loops and context options
   *
   * @private
   * @author Todd Motto
   * @link https://github.com/toddmotto/foreach
   * @param {Array|Object|NodeList} collection - Collection of items to iterate, could be an Array, Object or NodeList
   * @callback requestCallback      callback   - Callback function for each iteration.
   * @param {Array|Object|NodeList} scope=null - Object/NodeList/Array that forEach is iterating over, to use as the this value when executing callback.
   * @returns {}
   */
    var forEach=function(t,o,r){if("[object Object]"===Object.prototype.toString.call(t))for(var c in t)Object.prototype.hasOwnProperty.call(t,c)&&o.call(r,t[c],c,t);else for(var e=0,l=t.length;l>e;e++)o.call(r,t[e],e,t)};
    var hamburgers = document.querySelectorAll(".hamburger");
    if (hamburgers.length > 0) {
      forEach(hamburgers, function(hamburger) {
        hamburger.addEventListener("click", function() {
          this.classList.toggle("is-active");
        }, false);
      });
    }
  </script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->

        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>

        <script src="https://www.google-analytics.com/analytics.js" async defer></script>

          <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-12846745-20']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
          </script>


    </body>

</html>
